.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.header h1 {
  font-size: 1.5em;
}

/* 더 큰 화면을 위한 스타일 */
@media (min-width: 768px) {
  .header h1 {
    font-size: 2em;
  }
}
